@media all and (max-width:1024px) {
    .section2 .block2 .img {
        width: 54%;
    }

    .nav-pills li:nth-of-type(1) a {
        color: #81b726;
    }
}


@media all and (max-width:800px) {
    .nav-pills li:nth-of-type(1) a {
        color: #81b726;
    }

    .section2 br {
        display: none;
    }

    .section2 h1 {
        font-size: 3vw;
    }

    .section2 .box .note {
        font-size: 1.1vw;
        height: 6.5vw;
    }

    .section2 .all-box {
        padding: 3.13vw 4.77vw 4.2vw;
    }

    .section2 .box {
        width: 31.8%;
        padding: 2.87vw 2vw;
    }


    .section2 .btn p {
        padding: 0.73vw 3vw;
        font-size: 1vw;
    }

    .section2 .text-content h4 {
        font-size: 2.7vw;
    }

    .section2 .text-content {
        padding-left: 4.65vw;
        width: 47%;
    }

    .section2 .block2 .img {
        width: 50%;
    }

    .section2 .text-content .text {
        font-size: 1.5vw;
    }

    .section3 h1 {
        font-size: 3vw;
    }

    .section3 .benefits .icon {
        height: 7.2vw;
        width: 7.2vw;
    }

    .section3 .benefits p {
        font-size: 1.6vw;
    }

    .section3 {
        padding: 3vw 8vw;
    }

    .section3 .benefits {
        width: 25%;
        height: 12vw;
    }

    .section4 h4 {
        font-size: 2vw;
    }

    .section5 .blockRight h6 {
        font-size: 1vw;
    }

    .section5 .blockRight h1 {
        font-size: 5.3vw;
    }

    .section5 .content .title {
        font-size: 1.25vw;
        width: 68%;
    }

    .section5 .content .list-line .note {
        font-size: 1.3vw;
    }

    .section5 .content .list-line img {
        margin: 0.5vw 1vw 0 0;
    }

    .section5 .btn p {
        font-size: 1vw;
    }

    .section6 .item .user {
        width: 43.4%;
        margin: 0 0.73vw 0 0;
    }

    .section6 .item {
        width: 27.2vw;
    }

    .section6 .item .name {
        font-size: 1.6vw;
    }

    .section6 .item .pos {
        font-size: 1.4vw;
    }

    .section6 .owl-carousel {
        width: 90%;
        margin-top: 3.7vw;
    }

    .section6 h1 {
        font-size: 3vw;
    }

    .owl-nav {
        width: 108%;
        height: 4vw;
        left: -4%;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        width: 4vw;
        height: 4vw;
    }
}

@media all and (max-width:425px) {

    .section2 {
        padding: 11vw 0 9.8vw;
    }

    .section2 h1 {
        font-size: 4.3vw;
        text-align: center;
    }

    .section2 .all-box {
        flex-wrap: wrap;
        padding: 7.13vw 4.77vw 8.2vw;
        justify-content: center;
    }

    .section2 .box {
        width: 67.8%;
        padding: 4.87vw 4vw;
        margin: 0 0 7vw;
    }

    .section2 .box .icon {
        height: 10.2vw;
        margin: 0 0 3.15vw;
        width: 13vw;
    }

    .section2 .box h3 {
        font-size: 5.18vw;
    }

    .section2 .box .note {
        font-size: 2.4vw;
        height: auto;
        margin: 5.1vw 0;
    }

    .section2 .btn p {
        padding: 1.73vw 4vw;
        font-size: 2vw;
    }

    .section2 .grayBtn {
        margin: 0 2.65vw 0 0;
    }

    .section2 .box:nth-of-type(2) .icon {
        width: 9.65vw;
    }

    .section2 .box:nth-of-type(2) {
        background-position: 130% -13%;
        background-size: 62%;
    }

    .section2 .box .iconPlus {
        height: 7.2vw;
        margin: 0 0 3.15vw;
    }

    .section2 .block2 {
        flex-direction: column;
    }

    .section2 .text-content {
        padding: 0 9vw;
        width: 100%;
    }

    .section2 .text-content h4,
    .section3 h1 {
        font-size: 5.2vw;
        text-align: center;
    }

    .section2 .text-content .text {
        font-size: 3.6vw;
        margin: 4vw 0 9.8vw;
    }

    .section2 .block2 .img {
        width: 100%;
        padding: 0 10vw;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-position: 95% 61%;
    }

    .section2 .block2 .img img {
        width: 82%;
        margin: 0 auto;
    }

    .section3 {
        padding: 7vw 7vw 0;
        flex-wrap: wrap;
    }

    .section3 .benefits {
        width: 50%;
        height: 30vw;
    }

    .section3 .benefits .icon {
        height: 17.2vw;
        width: 16.2vw;
    }

    .section3 .benefits p {
        font-size: 3.6vw;
    }

    .section3 .all-benefits {
        margin-top: 8.3vw;
    }

    .section4 h4 {
        font-size: 4.3vw;
    }

    .section4 {
        padding: 5.5vw 0;
    }

    .section5 .blockLeft {
        padding: 0.8vw 18vw 35vw 3.1vw;
        width: 66%;
        margin: 0 0 5vw;
        background-size: cover;
        background-position: 53% -1%;
    }

    .section5 .blockLeft p {
        font-size: 6.3vw;
    }

    .section5 {
        padding: 7.65vw 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section5 .blockRight h6 {
        font-size: 3vw;
    }

    .section5 .blockRight h1 {
        font-size: 13.3vw;
    }

    .section5 .content .title {
        font-size: 3.6vw;
        width: 100%;
    }

    .section5 .blockRight {
        padding: 0 10vw;
        margin: 0;
    }

    .section5 .content .list-line .note {
        font-size: 3.6vw;
    }

    .section5 .content .list-line {
        margin: 0 0 3.5vw;
    }

    .section5 .content .list-line br {
        display: none;
    }

    .section5 .content .list-line img {
        width: 3.1vw;
        margin: 1vw 2vw 0 0;
    }

    .section5 .btn p {
        font-size: 2.5vw;
        padding: 2.05vw 6.37vw;
    }

    .section5 .grayBtn {
        margin: 0 3.65vw 0 0;
    }

    .section6 h1 {
        font-size: 9.2vw;
    }

    .section6 .item {
        width: 65vw;
        padding: 3.2vw 3vw 3.35vw;
        margin: 0 auto;
    }

    .section6 .item .name {
        font-size: 3.6vw;
    }

    .section6 .item .pos {
        font-size: 3.4vw;
    }

    .section6 .item .social img {
        margin: 3.2vw 3.2vw 0 0;
    }

    .section6 .item .user {
        width: 41.4%;
        margin: 0 3.73vw 0 0;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        width: 10vw;
        height: 10vw;
    }

    .owl-nav {
        top: 35%;
    }

    .section6 .owl-carousel {
        width: 76%;
    }

    .owl-nav {
        width: 127%;
        height: 4vw;
        left: -14%;
    }
}
